<div class="register">

<h2>Log In</h2>

  <form action="/login" method="post">
    <div class="field">
      <p class="label">Email</p>
      <input type="email" name="email" autofocus="autofocus" placeholder="Enter your email address" label="email">
    </div>
    <div class="field">
      <p class="label">Password</p>
      <input type="password" name="password" placeholder="Choose a password" label="password">
    </div>
    <input type="submit" value="Log In" class="register_submit">
  </form>
</div>